* {
    font-family: 'Exo', sans-serif;
    color : #093159;
    border: 0px;
}

body {
    background : #99CCFF;
    background : rgba(153, 204, 255, 1);
  } 

.nav-bar {
        background : linear-gradient(0deg, rgba(102, 172, 215, 1) 0%, rgba(102, 170, 215, 1) 0%, rgba(102, 170, 215, 1) 0.05%, rgba(71, 164, 215, 0.97) 12.27%, rgba(50, 160, 215, 0.95) 24.24%, rgba(36, 157, 215, 0.92) 35.74%, rgba(32, 156, 215, 0.9) 46.25%, rgba(30, 156, 215, 1) 100%);
        align-items: center;
        padding-bottom: 20px;
}
.nav-bar h1 {
    font-size : 60px;
    font-weight: bold;
    color : #093159;
    color : rgb(9, 49, 89);
  }
.nav-bar p {
    font-size : 25px;
    color : #093159;
  }

  #card-input {
    background : linear-gradient(0deg, rgba(102, 172, 215, 1) 0%, rgba(102, 170, 215, 1) 0%, rgba(102, 170, 215, 1) 0.05%, rgba(71, 164, 215, 0.97) 12.27%, rgba(50, 160, 215, 0.95) 24.24%, rgba(36, 157, 215, 0.92) 35.74%, rgba(32, 156, 215, 0.9) 46.25%, rgba(30, 156, 215, 1) 100%);
    border-radius : 0px;
    box-shadow : 0px 0px 10px rgba(12, 47, 76, 0.85);
    border-radius: 25px;
  }

  #input {
    width: 30%;
  }
  #flight-status {
    background : linear-gradient(0deg, rgba(102, 172, 215, 1) 0%, rgba(102, 170, 215, 1) 0%, rgba(102, 170, 215, 1) 0.05%, rgba(71, 164, 215, 0.97) 12.27%, rgba(50, 160, 215, 0.95) 24.24%, rgba(36, 157, 215, 0.92) 35.74%, rgba(32, 156, 215, 0.9) 46.25%, rgba(30, 156, 215, 1) 100%);
    border-radius : 0px;
    box-shadow : 0px 0px 10px rgba(12, 47, 76, 0.85);
    border-radius: 25px;
    margin-top: 20px;
  }

  #flight-status .card-content ul li {
    color : #093159;

  }

  #flight-status .card-content h1, #flight-status .card-content h2 {
    color : #093159;
  }

  #date {
      margin-bottom: 40px;
      margin-top: -22px;
  }


  #flight-cities {
    word-spacing: 30px;
  }

  #covid-card {
    background : #CCE9F4;
    background : rgba(204, 233, 244, 1);
    box-shadow : 0px 0px 4px rgba(0, 0, 0, 0.65);
    border-radius: 25px;
  }
  

  .covid-card-style {
    background : linear-gradient(0deg, rgba(102, 172, 215, 1) 0%, rgba(102, 170, 215, 1) 0%, rgba(102, 170, 215, 1) 0.05%, rgba(71, 164, 215, 0.97) 12.27%, rgba(50, 160, 215, 0.95) 24.24%, rgba(36, 157, 215, 0.92) 35.74%, rgba(32, 156, 215, 0.9) 46.25%, rgba(30, 156, 215, 1) 100%);
    box-shadow : 0px 0px 10px rgba(12, 47, 76, 0.85);
    border-radius: 25px;
    margin-top: 10px;
  }

  #weather-info {
    background : #CCE9F4;
    background : rgba(204, 233, 244, 1);
    box-shadow : 0px 0px 4px rgba(0, 0, 0, 0.65);
    border-radius: 25px;
    margin-top: 20px;
  }


